*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 80%;
    height: 600px;
    border: 2px solid black;
    margin: 50px  auto;
    position: relative;
}

.box{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: coral;
    position: absolute;
    /* left: 50%;
    top: 50%; */
    left: calc(50% - 50px);
    top: calc(50% - 50px);

    /* background-color: orange; */
    /* transform: translateX(100px);
    transform: translateY(100px); */
    /* transform: translate(100px, 100px); */
    /* transform: translate(-50%, -50%); */
   
    /* transition-property: width, height; */
    /* transition-property: transform; */
    /* transition-property: all; */
    /* transition-duration: 2s; */
    /* transition-delay: 0.5s; */
    /* transition-timing-function: ease-in-out ; */
    /* transition-timing-function: cubic-bezier(.88,.25,.08,.94) ; */
    transition: all 1s cubic-bezier(.88,.25,.08,.94) 0.5s;
    
}

.box:hover{
    /* transform: scaleX(2); */
    /* transform: scaleY(2); */
    /* transform: scale(2, 3); */
    /* transform: scale(2); */

    /* transform: rotateX(45deg);
    transform: rotateY(90deg);
    transform: rotateX(180deg);
    transform: rotateX(360deg); */

    /* transform: rotateY(45deg);
    transform: rotateY(90deg);
    transform: rotateY(180deg);
    transform: rotateY(360deg); */

    /* transform: rotate(90deg); */
    /* transform: scale(2) translate(100px, 100px) rotate(360deg) ; */
    transform: scale(2) rotate(360deg) ;
    /* transform: skewX(45deg); */
    /* transform: skewY(45deg); */
    /* transform: skew(90deg); */
    /* width: 200px;
    height: 200px; */
}